.wgf-filepanel {}
.wgf-filepanel-left {}
.wgf-filepanel-right {}
.wgf-filepanel-right-header {
    padding:10px;
    'border-bottom: 1px solid #cccccc;
}
.wgf-nofile {
    margin:20px;
}
.wgf-fileinfo {
    margin-left:20px;
    font-size: 75%;
}
.wgf-fileaction a,
.wgf-folderaction a {
    font-size: 125%;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 4px;
    min-height:20px;
    min-width: 35px;
    line-height:40px;
}
.wgf-folderaction a img {
    height:22px;
}
